  <!-- footer_start -->
  <footer class="footer footer_bg_1">
        <div class="circle_ball d-none d-lg-block">
            <!-- <img src="img/banner/footer_ball.png" alt=""> -->
        </div>
            <div class="footer_top">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-md-4 col-lg-4">
                            <div class="footer_widget">
                                <h3 class="footer_title">
                                        Redes sociais
                                </h3>
                                <ul>
                                    <li><a target="_blank" href="https://www.facebook.com/datamazonbelem/">Facebook</a></li>
                                    <!--<li><a target="_blank" href="#">Twitter</a></li>-->
                                    <!--<li><a target="_blank" href="#">Instagram</a></li>-->
                                    <!--<li><a target="_blank" href="#">Youtube</a></li>-->
                                </ul>
    
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-4 col-lg-4">
                            <div class="footer_widget">
                                <h3 class="footer_title">
                                        Links
                                </h3>
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/quemsomos">Quem somos</a></li>
                                    <li><a href="/nossosservicos">Nossos Serviços</a></li>
                                    <li><a href="/contatos">Contatos</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-4 col-lg-4">
                            <div class="footer_widget">
                                <h3 class="footer_title"></h3>
                                <p>
                                    +55 91 981884164
                                    
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copy-right_text">
                <div class="container">
                    <div class="footer_border"></div>
                    <div class="row">
                        <div class="col-xl-12">
                            <p class="copy_right text-center">
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> Todos o direitos reservados
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    <!-- footer_end -->