   <!-- event_area_start -->
   <div class="event_area">
    <h1 class="vr_text d-none d-lg-block">datamazon</h1>
    <div class="container">
        <div class="double_line">
            <div class="row">
                <div class="col-xl-3 col-lg-3">
                    <div class="date">
                        <h3>O que fazemos</h3>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9">
                    <div class="single_speaker">
                        <img src="img/speakers/seaker1.png" alt="">
                        <div class="speaker-name">
                            <div class="heading d-flex justify-content-between align-items-center">
                                <span>Big Data</span>
                                <div class="time"></div>
                            </div>
                            <p>Podemos analisar milhares de dados de usuários para fazer segmentarão de público, determinar tendências de negócios, criando soluções em Marketing Digital, Marketing Politico etc… </p>
                        </div>
                    </div>
                    <div class="single_speaker">
                        <img src="img/speakers/seaker2.png" alt="">
                        <div class="speaker-name">
                            <div class="heading d-flex justify-content-between align-items-center">
                                <span>Gestão de problemas</span>
                                <div class="time"></div>
                            </div>
                            <p>Identificamos problemas a partir de técnicas modernas de análise de dados, insatisfação de público, de clientes, de funcionários, problemas de administração municipal e empresas privadas.</p>
                        </div>
                    </div>
                    <div class="single_speaker">
                        <img src="img/speakers/seaker3.png" alt="">
                        <div class="speaker-name">
                            <div class="heading d-flex justify-content-between align-items-center">
                                <span>Pesquisas</span>
                                <div class="time"></div>
                            </div>
                            <p>Usamos as metodologias mais apropriadas, modernas ou antigas, que ajudem a coletar, processar e analisar infromações com precisão, com objetivo de revelar os fenômenos que impactam sobre produtos, consumidores ou mesmo eleitores! </p>
                        </div>
                    </div>
                    <div class="single_speaker">
                        <img src="img/speakers/seaker3.png" alt="">
                        <div class="speaker-name">
                            <div class="heading d-flex justify-content-between align-items-center">
                                <span>Marketing Analytics</span>
                                <div class="time"></div>
                            </div>
                            <p>Reunimos dados de diversos canais em uma visão comum. Deles, extraímos resultados analíticos que podem fornecer uma assistência inestimável para levar seus esforços de Marketing analytics adiante. </p>
                        </div>
                    </div>
                    <div class="single_speaker">
                        <img src="img/speakers/seaker3.png" alt="">
                        <div class="speaker-name">
                            <div class="heading d-flex justify-content-between align-items-center">
                                <span>Campanhas</span>
                                <div class="time"></div>
                            </div>
                            <p>Seja campanha politica ou de marketing, nos atuamos em todas as frentes, digitais ou presenciais, temos dezenas de ferramentas como softwares, aplicativos para coleta, processamento de dados, inclusive em tempo real, para análise de diversas métricas em busca de soluções inteligentes.</p>
                        </div>
                    </div>

                    
                </div>
            </div>
        </div>

    </div>
</div>
<!-- event_area_end -->