  <!-- slider_area_start -->
  <div class="slider_area slider_bg_1">
        <div class="slider_text">
            <div class="container">
                <div class="position_relv">
                    <div class="row">
                        <div class="col-xl-9">
                            <div class="title_text">
                                <%- slider %>
                                <a href="/nossosservicos" class="boxed-btn-white">Nossos serviços</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
        <div class="countDOwn_area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-4 col-md-6 col-lg-4">
                        <div class="single_date">
                            <i class="ti-location-pin"></i>
                            <span>Belém, Pará, 2019</span>
                        </div>
                    </div>
  
  
                </div>
            </div>
        </div>
    </div>
    <!-- slider_area_end -->