	<!-- Start Sample Area -->
	<section class="mt-4 mb-4">
            <div class="container box_1170">
                <h3 class="text-heading">Sobre Nós</h3>
                <p class="sample-text">    
                    <b>A DATAMAZON</b> Tem criado diversas soluções que unem anáise de dados e tecnologias.                
                    <br>
                </p>
            </div>
    </section>
        <!-- End Sample Area -->