	<!-- Start Sample Area -->
	<section class="sample-text-area">
            <div class="container box_1170">
                <h3 class="text-heading">Sobre Nós</h3>
                <p class="sample-text">
                        <b>Captar-Armazernar-Diferenciar</b> </br>
                        Esse é o nosso mantra.</br>
                        Somos uma empresa de tecnologia da informação a partir do dados em nuvens ou nos arquivos da clientela.
                         Nossa expertise em pesquisas (captar), aliada ao nosso estilo de Big Data (armazenar) para estratificar e agrupar os mais diversos detalhes possíveis das informações. 
                         Tudo isso para que nossos clientes alcancem e se diferenciem no mercado.
                        DatAmazon foi Fundada em 2019 pelo estatístico Luiz Feitosa e cientista de dados Eduardo Soares, docentes e profissionais experientes em pesquisas e desenvolvimento de software, coordenando equipes e fazendo consultorias em diversas áreas. 
                </br>A <b>DatAmazon</b> tem finalidade de prover inteligência competitiva e dando o suporte técnico para sua ampla clientela: empresas, órgãos públicos, associações de classe, agências de propaganda, publicidade e marketing, coordenadores de campanhas eleitorais e pesquisadores acadêmicos no nível de pós-graduação.
    
                    
            </br><b>A DATAMAZON</b> capacitações e consultoria em Ciência de Dados para empresas que necessitam de informações estratégicas obtidas de grandes massas de dados. 
                        Na área das instituições Políticas (mandatos, Disputa Eleitoral), é especializada na análise e pesquisas de opinião para projeção de cenários, ambientes de competição e comportamento eleitoral. 
                        Seu objetivo é construir sólidas parcerias com clientes utilizando as técnicas estatísticas mais inovadoras do mercado, disponibilizando pesquisas assertivas e análises que ajudam na tomada de decisões mais seguras e apropriadas a cada caso.
                        <br>
                        </br><b>A DATAMAZON</b> atua dentro dos princípios da ética na busca de resultados que assegurem ações pontuais em cenários competitivos, e conta com profissionais reconhecidos por suas atuações em: 
                    
                    </br></br>


        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                    1) pesquisas de opinião eleitoral; 
            </li>
            <li class="list-group-item">
                2) comunicação na política; 
            </li>
            <li class="list-group-item">
                3) treinamentos e capacitações para candidatos e assessores técnicos de campanha;
            </li>
            <li class="list-group-item">
                4) projetos eleitorais e de mandato; 
            </li>
            <li class="list-group-item">
                5) assessoria e consultoria para governos e outras esferas de poder.
            </li>
        </ul>
    <br>
    
    
                </p>
            </div>
        </section>
        <!-- End Sample Area -->